.container {
    width: 600px;
    height: 400px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}

.button-Home {
    width: 150px;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    margin: auto;
}

.button-Home:hover {
    background-color: #555e7d;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    cursor:pointer;
}


