.container-quest {
  width: 600px;
  border-radius: 15px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}

.question-Class {
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
}

@media (max-width: 800px) {
  .container-quest {
    width: 100%;
  }

  .container-quest {
    padding: 0;
  }

  .question-Class {
    gap: 20px;
  }

  .question-All h1 {
    font-size: 2rem;
  }
}

.button-overall {
  display: flex;
  gap: 30px;
}

.normal-button {
  width: 120px;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.normal-button:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.green-button {
  background-color: green;
  position: relative;
}
.green-button::before {
  content: url(../img/bx-check.svg);
  position: absolute;
  left: 10px;
}

.red-button {
  background-color: red;
  position: relative;
}

.red-button::before {
  content: url(../img/bx-x.svg);
  position: absolute;
  left: 10px;
}

.NextStep {
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  background-color: #234668;
  border-radius: 15px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

.NextStep:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.NextStep[disabled] {
  display: none;
}

.box-buttonTrue {
  margin: auto;
  margin-bottom: 30px;
}
.Brain-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Brain-img img {
  width: 50px;
}

@media (max-width: 800px) {
  .box-buttonTrue {
    display: grid;
  }
}
