.container-quest {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  padding: 60px;
  display: block;
  justify-content: center;
  align-items: center;
}

.question-Class {
  display: flex;
  align-items: center;
 justify-content: space-between;
}

.question-Class,
.questions-All {
  margin-bottom: 60px;
}

@media (max-width:800px) {
  .container-quest {
    width: 300px;
    height:auto;
  }
}

.button-overall {
  display: flex;
}

.normal-button {
  width: 120px;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: auto;
  margin-bottom: 30px;
}

.normal-button:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.green-button {
  background-color: green;
  position: relative;
}
.green-button::before {
  content: url(../img/bx-check.svg);
  position: absolute;
  left: 10px;
}

.red-button {
  background-color: red;
  position: relative;
}

.red-button::before {
  content: url(../img/bx-x.svg);
  position: absolute;
  left: 10px;
}

.NextStep {
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  background-color: #234668;
  border-radius: 15px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
}

.NextStep:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;

}

.NextStep[disabled] {
  display: none;
}

.box-buttonTrue {
  margin: auto;
  margin-bottom: 30px;
}

.Brain-img img {
width: 50px;
}

@media (max-width:800px) {
  .box-buttonTrue {
   display: grid;
  }
  
}
