* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background-image: linear-gradient(to left bottom, #051937, #312962, #6f3083, #b72894, #ff0091);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 18px);
}

.icone-victory {
    width: 100px;
    margin: auto;
}

.container-end {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.finish-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-end h1 {
 margin-bottom: 60px;
}
