* {
    font-family: "Roboto", sans-serif;
    color: white;
  }
  
  body {
    background-image: linear-gradient(
      to left bottom,
      #051937,
      #312962,
      #6f3083,
      #b72894,
      #ff0091
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 18px);
  }
  
  .button {
    width: 150px;
    font-size: 16px;
    color: #ffffff;
    background-color: #234668;
    border-radius: 15px;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    margin: auto;
}



.button:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}